/*
	Reset Stylesheet (Eric Wen Reset Reloaded + HTML5 baseline)
	2016-09-19 | Authors:Eric Wen
  2016-10-18 | Authors:Xu Yifan
*/

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, menu {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img, .nob {
  border: 0 !important;
  vertical-align: middle;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-size: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-user-modify: read-write-plaintext-only;
}
input {
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
legend {
  color: #000;
}
a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  outline: none;
}
img {
  -webkit-touch-callout: none;
}
.clearfix:after {
  /* content: "."; */
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
.checkbox input, .radio input {
  display: none;
  outline: none !important;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
}
label .icon-stack {
  height: 1em;
  line-height: 1em;
  vertical-align: -25%;
  width: 1em;
}
.icon-stack .icon-stack-base {
  font-size: 1.4em !important;
}
label .icon-ok {
  display: none !important;
}
label.checked .icon-ok {
  display: block !important;
}

/* Public Style */

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.clearfix {
  *zoom: 1;
}
.none {
  background: none !important;
}
.display {
  display: none !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.nomargin {
  margin: 0 !important;
}
.noborder {
  border: 0 !important;
}
.noborderR {
  border-right: 0 !important;
}
.w10 {
  width: 10% !important;
}
.w20 {
  width: 20% !important;
}
.w30 {
  width: 30% !important;
}
.w40 {
  width: 40% !important;
}
.w60 {
  width: 59.5% !important;
}
.w70 {
  width: 69.5% !important;
}
.w100 {
  width: 100% !important;
}
.mt {
  margin-top: 1em;
}
.mb {
  margin-bottom: 1em;
}
.clear {
  clear: both;
  width: 100%;
  height: 2em;
}
.select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}
button, input, select {
  outline: medium none;
  vertical-align: middle;
}
.checkbox input, .radio input {
  display: none;
  outline: none !important;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
}
label .icon-stack {
  height: 1em;
  line-height: 1em;
  vertical-align: -25%;
  width: 1em;
}
.icon-stack .icon-stack-base {
  font-size: 1.4em !important;
}
label .icon-ok {
  display: none !important;
}
label.checked .icon-ok {
  display: block !important;
}
label {
  color: #b0bdd6;
}
label.checked {
  color: #4fc1e9;
}
.c_blue {
  color: #037aff !important;
}

/* Button Style */

.but-gray, .but-orange, .but-red, .but-green, .but-white, .but-blue, .but-orange-b, .but-common {
  border-radius: 2.5em;
  color: #FFF;
  text-decoration: none;
  font: 1.2em "Microsoft YaHei";
  line-height: 2.5em;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.but-gray {
  background: #ccc;
}
.but-orange {
  background: #f93;
}
.but-orange:hover {
  background: #fa8e1f;
}
.but-orange-b {
  border: 1px solid #f93;
  color: #f93;
  background: #ffefd4;
}
.but-orange-b:hover {
  color: #fa8e1f;
  border: 1px solid #fa8e1f;
}
.but-red {
  background: #FE6766;
}
.but-green {
  background: #7ac175;
}
.but-white {
  border: 1px solid #c9c9c9;
  background: #f7f7f7;
  color: #c9c9c9;
}
.but-white_hover {
  background: #eee;
  color: #5a5a5a;
}
.but-blue {
  background: #09f;
}
.but-blue:active {
  background: #028ebf;
}
.bg-white {
  background: #fff;
}
.bg-gray {
  background: #eee;
}
.col_orange {
  color: #e6b422;
}
.col_blue {
  color: #2ca9e1;
}
.col_green {
  color: #7ac175;
}

/*公用样式*/

html, body {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#center {
  /* margin: 3.5em auto 0 auto; */
  margin: 0 auto;
}
.default_nav {
  margin: 0 auto;
  width: 100%;
}

/*首页*/

#menu {
  position: relative;
  padding-bottom: 0.5em;
  /* background: #fff url('../img/menu_bg_1.png') repeat-x left bottom; */
  background-size: 17em auto;
}
#menu .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 2em;
  /* background: url('../img/menu_bg_2.png') no-repeat left bottom; */
  background-size: 12em auto;
}
#menu .search {
  width: 94%;
  padding: 0.5em 3%;
  background: #f2f2f2;
  text-align: left;
}
#menu .search a {
  display: block;
  width: 87%;
  height: 2.2em;
  line-height: 2.2em;
  padding: 0 3% 0 10%;
  font-size: 0.8em;
  border: 1px solid #e7e7e7;
  border-radius: 0.4em;
  background: #fff;
  color: #999;
  text-align: center;
}
#menu .search i {
  position: absolute;
  left: 44%;
  top: 1.3em;
  z-index: 20;
  color: #999;
  font-size: 0.8em;
}
#menu .role {
  margin: 0 5%;
  width: 90%;
  height: 3.5em;
  line-height: 3.5em;
  border-bottom: 1px solid #dde7f0;
}
#menu .role strong {
  float: left;
  width: 70%;
  text-align: left;
  font-weight: normal;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#menu .role span {
  float: right;
  width: 20%;
  text-align: right;
  color: #70808c;
  /* overflow: hidden; */
  white-space: nowrap;
}
#menu .role i {
  display: inline-block;
  font-size: 0.75em;
  color: #70808c;
}
.nav_01 {
  width: 100%;
  height: auto;
  background: #fff;
}
.select_nav {
  margin: 0 auto;
}
.select_nav li {
  display: block;
  float: left;
  width: 20%;
  /* margin: 0 !important; */
}
.select_nav li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 0.75em;
}
.nav_01 .head_ico {
  margin: 0 auto;
  height: 3.2em;
  width: 3.2em;
  border-radius: 1.6em;
}
.nav_01 .c1 .head_ico {
  background: #2AD1CB;
}
.nav_01 .c2 .head_ico {
  background: #E7BD3C;
}
.nav_01 .c3 .head_ico {
  background: #CD6CE1;
}
.nav_01 .c4 .head_ico {
  background: #9DCD58;
}
.nav_01 .c5 .head_ico {
  background: #3CABE5;
}
.nav_01 .c6 .head_ico {
  background: #F75881;
}
.nav_01 .c7 .head_ico {
  background: #38C5E3;
}
.nav_01 .c8 .head_ico {
  background: #FF8B6A;
}
.select_nav li i {
  display: block;
  font-size: 1.5em;
  line-height: 2.2em;
  color: #fff;
}
.select_nav li span {
  display: block;
  width: 99%;
  color: #666;
  font-size: 0.85em;
  line-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#banner {
  margin: 0em auto;
  width: 100%;
}
#banner img {
  width: 100%;
}
.index_title {
  margin-top: 0.5em;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #f7f7f7;
}
.index_title del {
  display: block;
  float: left;
  margin: 0.5em 1em 0.5em 0;
  width: 4px;
  height: 1.5em;
  background: #91c0f2;
}
.index_title strong {
  display: block;
  float: left;
  color: #333;
  text-align: left;
}
.index_list {
  /* margin-bottom: 1em; */
  background: #fff;
}
.index_list li {
  display: block;
  width: 94%;
  height: 5em;
  line-height: 1em;
  margin: 0 3%;
  text-align: left;
  text-indent: 0px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  color: #a1a1a1;
}
.index_list li img {
  float: left;
  margin: 0.75em 0.5em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
}
.index_list li dl {
  float: left;
  width: 55%;
  margin: 0.5em auto;
  color: #999;
}
.index_list li dt {
  display: block;
  width: 95%;
  font-size: 0.9em;
  line-height: 2em;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 /*  font-weight: bold; */
}
.index_list li dd {
  display: block;
  width: 95%;
  font-size: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index_list li dd s {
  display: inline-block;
  width: 5em;
  margin-right: 0.5em;
  border: 1px solid #9a9a9a;
  border-radius: 1em;
  text-decoration: none;
  text-align: center;
}
.index_list li a {
  float: right;
  display: block;
  width: 15%;
  padding: 0.35em 0.5em;
  margin: 1.75em 0;
  border: 1px solid #0099ff;
  border-radius: 0.35em;
  font-size: 0.9em;
  color: #0099ff;
  text-align: center;
}
.index_list li a.current {
  padding: 0.35em 0.5em;
  border: 1px solid #b5b5b5;
  color: #b5b5b5;
}
.index_list li.more {
  height: 2.5em;
  border: none;
  line-height: 2.5em;
}
.index_list li.more a {
  width: 100%;
  height: 100%;
  font-size: 1em;
  border: none;
  padding: 0;
  margin: 0;
  color: #333;
}
.index_list li.more a i {
  font-size: 0.8em;
  margin: 0 0.5em;
}
.index_list li.result {
  height: 1.5em;
  border: none;
  line-height: 1.5em;
  font-size: 0.75em;
}
#top {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 99999;
  display: block;
  width: 3em;
  height: 3em;
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 3em;
  border: 1px solid #b6b6b6;
  background: #fff;
  opacity: 0.8;
  color: #a0a0a0;
  text-align: center;
}
#top i {
  margin: 0.5em;
  font-size: 1.4em;
  color: #4e4e4e;
}

/*用户选择*/

.detail {
  height: auto;
  margin: 1em auto;
  width: 85%;
  text-align: left;
}
.detail .default_nav {
  margin: 1.5em auto;
}
.detail .default_nav h1 {
  color: #b5b5b5;
  display: block;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.5em;
}
.detail .user_pic {
  clear: both;
  height: 4.5em;
  width: 100%;
  text-align: left;
  background: #fff;
  color: #70808c;
  margin-bottom: 0.5em;
  text-decoration: none;
  font: 1.2em "Microsoft YaHei";
  line-height: 4.5em;
  display: inline-block;
  border-radius: 0.5em;
  overflow: hidden;
}
.detail .user_pic img {
  display: inline-block;
  width: 3.5em;
  height: 3.5em;
  margin: 0.5em 1em;
}
.detail a {
  clear: both;
  height: 2.5em;
  width: 100%;
  text-align: center;
}
.detail .user_pic div {
  float: right;
  width: 1em;
  height: 1em;
  margin: 1.6em 1em;
  background: #e6e6e6;
  border-radius: 1.25em;
  color: #fff;
  position: relative;
}
.detail .user_pic div.current {
  background: #09f;
}
.detail .user_pic div i {
  position: absolute;
  top: 0.35em;
  left: 0.3em;
  font-size: 0.2em;
}
.but-hover {
  background: #e6e6e6!important;
}

/* 图书 */
#book {
  position: relative;
}
#book .index_list {
  /* margin-top: 3.4em; */
}
#book .column {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 3.5em;
  line-height: 3.5em;
  font-size: 0.95em;
  border-bottom: 1px solid #dbdfe0;
  background: #fff;
}
#book .column a.fl {
  display: block;
  height: 100%;
  padding: 0 1em;
  color: #4d4d4d;
}
#book .column a.current {
  color: #009afe;
}
#book .column span.fl {
  color: #e5e5e5;
}
#book .column a.fr {
  display: block;
  height: 100%;
  padding: 0 1em 0 0;
  color: #4d4d4d;
}
#book .column a.fr i {
  color: #b6b6b6;
}
#book .search {
  position: relative;
  width: 94%;
  padding: 0.5em 3%;
  background: #fff;
}
#book .search a {
  display: block;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 0.9em;
  border-radius: 0.4em;
  background: #f2f2f2;
  color: #999;
}

/* 分类 */
.book_list {
  margin-bottom: 1em;
  background: #fff;
}
.book_list li {
  display: block;
  width: 94%;
  height: 3.5em;
  line-height: 3.5em;
  margin: 0 3%;
  text-align: left;
  text-indent: 0px;
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
}
.book_list li a {
  display: block;
  width: 100%;
  color: #8c8c8c;
}
.book_list li span {
  display: block;
  float: left;
  width: 90%;
  height: 100%;
  margin-right: 5%;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.book_list li i {
  font-size: 0.8em;
}

/* 搜索 */
#search .search {
  width: 94%;
  padding: 0.5em 3%;
  background: #fff;
  text-align: left;
}
#search .search input {
  width: 87%;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 3% 0 10%;
  font-size: 0.9em;
  border: none;
  border-radius: 0.4em;
  background: #f2f2f2;
  color: #999;
}
#search .search i {
  position: absolute;
  left: 6%;
  top: 1.2em;
  z-index: 20;
  color: #999;
}
.recommend {
  display: block;
  width: 94%;
  height: auto!important;
  height: 5em;
  min-height: 5em;
  padding: 1em 3%;
  background: #fff;
}
.recommend dt {
  font-size: 0.9em;
  color: #555;
  text-align: left;
}
.recommend dt i {
  /* color: #f95a5e; */
  /* color: #ccc; */
}
.recommend dd {
  display: inline-block;
  width: 30%;
  height: 2em;
  line-height: 2em;
  margin-top: 0.7em;
}
.recommend dd a {
  display: block;
  width: 79%;
  height: 100%;
  padding: 0 10%;
  font-size: 0.9em;
  background: #f2f2f2;
  color: #3c404c;
  border-radius: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ew_tab {
  width: 100%;
  height: auto!important;
  height: 5em;
  min-height: 5em;
}
.ew_tab ul.menu {
  height: auto!important;
  height: 2em;
  min-height: 2em;
}
.ew_tab ul.menu li {
  display: inline-block;
/*   border-bottom: 0.1em solid #fff; */
  text-align: center;
  cursor: pointer;
}
 .ew_tab ul.menu .tab-cur span {
  border-bottom: 0.25em solid #91C0F2;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.ew_tab p {
  display: none;
  width: 94%;
  height: auto!important;
  height: 1em 3%;
  min-height: 1em;
  padding: 1em;
  color: #9a9a9a;
}
.ew_tab .tab-c {
  margin-top: -1px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.ew_tab .head_ico {
  margin: 0 auto;
  height: 3.2em;
  width: 3.2em;
  border-radius: 0.8em;
}
.ew_tab .c1 .head_ico {
  background: #00d9d8;
}
.ew_tab .c2 .head_ico {
  background: #00a8ff;
}
.ew_tab .c3 .head_ico {
  background: #517de7;
}
.ew_tab .c4 .head_ico {
  background: #9a64ff;
}
.ew_tab ul.menu li i {
  display: block;
  font-size: 1.5em;
  line-height: 2.2em;
  color: #fff;
}
.ew_tab ul.menu li span {
  display: block;
  width: 99%;
  color: #545454;
  font-size: 0.85em;
  line-height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}
.ew_tab ul.menu li span div{
  height: 1.5em;
  width: 100%;
  line-height: 2em;
  font-size: 1em;
}

/* 阅读活动 */

#activities ul {
  width: 100%;
  height: auto!important;
  height: 5em;
  min-height: 5em;
  text-align: left;
}
#activities ul li {
  padding: 1em 5%;
  border-bottom: 1px solid #d9d9d9;
}
#activities ul li img {
  width: 100%;
  border: 1px solid #f3f3f3!important;
}
#activities ul li span {
  display: block;
  width: 95%;
  height: 2em;
  line-height: 2em;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#menu .role {
  margin: 0 5%;
  width: 90%;
  height: 3.5em;
  line-height: 3.5em;
  border-bottom: 1px solid #dde7f0;
  text-align: right;
}
#menu .role strong {
  /* float: right; */
  width: 65%;
  text-align: right;
  font-weight: normal;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#menu .img_div{
  height: 2em;
  width: 7.5em;
  float: left;
  background-image: url('../img/logo.png');
  background-size:100%;
  background-repeat: no-repeat;
  line-height: 3em;
  margin-top: 0.8em;
  margin-left: -0.5em;
}