/*公共样式*/

* {
	margin: 0;
	padding: 0;
}

body {
	font: 1rem "微软雅黑";
}
li{
	list-style: none;
}
.fontBlack{
	color: #000000;
}
.fontGrey1{
	color: #908e8e;
}
.fontWeight{
	font-weight: bold;
}
.fontOrange{
	color: #ff7c4e;
}
.fontGrey2{
	color: #414040;
}
/*公共样式--结束*/

#xining{
	    width: 100%;
    overflow-x: hidden;
}
#tab {
	width: 100%;
	    padding: 1rem 0;
    border-bottom: 1px solid #e0e0e0;
}

#tab li {
	width: 25%;
    cursor: pointer;
    line-height: 1rem;
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #e0e0e0;
        margin-right: -5px;
    text-align: center;
}
#tab li:last-child{
	border-right: 0;
}
#tab li.current {
	color: #0099ff;
}

#content {
	border-top-width: 0;
}

#content ul {
	line-height: 1.5rem;
	display: none;
	padding: 2rem 1rem;
}

/*培训日程安排13日*/
#content ul.firstDay {
	text-align: center;
	padding-top: 2rem;
	line-height: 2rem;
	font-size: 1.2rem
}
#content ul.firstDay li:last-child{
	font-size: 1rem;
	padding: 0 1rem;
}
#content ul.firstDay .fontWeight{
	line-height: 3rem;
}
.firstTime{
	color: #e59b92;
}
.fistImg{
	width: 10rem;
	margin: 0 auto;
}
/*培训日程安排14日*/

.cBlue{
    width: 1.4rem;
    height: 1.4rem;
    background-color: #0099FF;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.cWhite{
    width: 0.7rem;
    height: 0.7rem;
    background-color: #FFF;
    border-radius: 50%;
    margin-left: 0.34rem;
    margin-top: 0.34rem;
}
.content{
	border: 1px solid #7d7d7d;
	border-radius: 0.5rem;
	margin: 1rem 0;
}
.content div{
	padding: 0.5rem 0;
}

.content div.mainPlace{
	border-bottom: 1px solid #7d7d7d;
	text-align: center;
}
.content div.action{
	text-align: left;
	padding: 0.5rem;
	font-size: 0.8rem;
}
.content div.action.action2{
	border-bottom: 1px solid #E0E0E0;
	    margin: 0 0.5rem;
	    padding: 0.5rem 0;
}
