@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ty51ei');
  src:  url('fonts/icomoon.eot?ty51ei#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ty51ei') format('truetype'),
    url('fonts/icomoon.woff?ty51ei') format('woff'),
    url('fonts/icomoon.svg?ty51ei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-past:before {
  content: "\e900";
  color: #6d6d6d;
}
.icon-arrow_left:before {
  content: "\e314";
}
.icon-arrow_right:before {
  content: "\e315";
}
.icon-create:before {
  content: "\e901";
}
.icon-trash:before {
  content: "\e902";
}
.icon-bubble2:before {
  content: "\e903";
}
.icon-office:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-icon_01:before {
  content: "\e90c";
}
.icon-icon_02:before {
  content: "\e90d";
}
.icon-icon_03:before {
  content: "\e90e";
}
.icon-icon_04:before {
  content: "\e90f";
}
.icon-icon_05:before {
  content: "\e910";
}
.icon-icon_06:before {
  content: "\e911";
}
.icon-icon_07:before {
  content: "\e912";
}
.icon-icon_08:before {
  content: "\e913";
}
.icon-icon_09:before {
  content: "\e914";
}
.icon-icon_10:before {
  content: "\e915";
}
.icon-icon_11:before {
  content: "\e916";
}
.icon-icon_12:before {
  content: "\e917";
}
.icon-icon_13:before {
  content: "\e918";
}
.icon-icon_14:before {
  content: "\e919";
}
.icon-image:before {
  content: "\e91a";
}
.icon-film:before {
  content: "\e91b";
}
.icon-video-camera:before {
  content: "\e91c";
}
.icon-bullhorn:before {
  content: "\e91d";
}
.icon-headphones:before {
  content: "\e91e";
}
.icon-profile:before {
  content: "\e923";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e930";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock_out:before {
  content: "\e94e";
}
.icon-clock_in:before {
  content: "\e94f";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubbles:before {
  content: "\e96d";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-master:before {
  content: "\e976";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-stats:before {
  content: "\e99b";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
